.detail-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto-fill 1fr;
}
#figure-img {
    display: grid;
    justify-self: center;
    align-self: center;
    border: transparent;
    width: 100vw;
    height: 100%;
}
#figure-img > img {
    justify-self: center;
    align-items: center;
    width: 95%;
    height: 95%;
    object-fit: contain;
}

.image-fondo {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
}

.icon-container {
    width: 100vw;
    display: grid;
    justify-content: end;
    padding: 20px;
}

.icon-close {
    width: 35px;
    height: 35px;
    color: tomato;
    background: black;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.btnRegresar {
    position: fixed;
    top: 50%;
    left: 0%;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.527);
    color: orangered;
    z-index: 5;
}

.btnDelante {
    position: fixed;
    top: 50%;
    right: 0%;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.527);
    color: orangered;
    z-index: 5;
}