
.molinos {
    display: none;
}

.planeta {
    display: none;
}

.home {
    display: grid;
    grid-template-rows: 15% 60% 25%;
    place-content: end;
    height: 100vh;
    color: black;
    background: linear-gradient(45deg,black, #0e1017);
}

.home-figure {
    background: radial-gradient(rgb(43, 16, 11),rgb(211, 77, 15));
    width: calc(82vw - 30px);
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 12px;
    display: flex;

    animation-duration: 2s;
    animation-name: figure-title;
    animation-iteration-count:initial;
    animation-direction:normal;
}
@keyframes figure-title {
    0%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0);
    }
}

.home-figure--title {
    display: grid;
    place-content: center;
    text-align: center;
    margin: 0 auto;
    z-index: 11;

}

#title {
    position: absolute;
    top: 20px;
    font-weight: bold;
    font-size: 50px;
    font-family: arial; 
    color: transparent;
    display: block;
    white-space: nowrap; 
    width: 19ch;
    animation: typing 3s steps(22);
    overflow: hidden;
    padding-bottom: 10px;
}
@keyframes typing {
    0% { 
        color: tomato;
        width: 0; 
    }
    90%{color:tomato;}
}

#title-reciclaje {
    position: absolute;
    top: 20px;
    font-weight: bold;
    font-size: 50px;
    font-family: arial; 
    color: transparent;
    display: block;
    white-space: nowrap; 
    width: 19ch;
    animation: typing2 3s steps(22);
    overflow: hidden;
    padding-bottom: 10px;
    animation-delay: 3s;
}
@keyframes typing2 {
    0% { 
        color: tomato;
        width: 0;
    }
    90%{color:tomato;}
}

#title-reciclaje2 {
    text-align: center;
    top: 20px;
    position: absolute;
    font-weight: bold;
    font-size: 50px;
    font-family: arial; 
    color: transparent;
    display: block;
    white-space: nowrap; 
    width: 19ch;
    animation: typing3 3s steps(22);
    overflow: hidden;
    padding-bottom: 10px;
    animation-delay: 6s;
}
@keyframes typing3 {
    0% { 
        color: tomato;
        width: 0;
    }
    90%{color:tomato;}
}

#title-reciclaje3 {
    padding: 5px;
    border-radius: 12px;
    background: linear-gradient(to bottom, white, rgb(174, 198, 243));
    width: 300px;
    height: 70px;
    opacity: 0;
    top: 20px;
    left: 48%;
    position: absolute;
    animation: icono 3s steps(22) forwards;
    animation-delay: 9s;
}
@keyframes icono {
    0% { 
        opacity: 0;
    }
    100%{opacity: 1;}
}

.home-figure--title > span {
    color: white;
    font-size: medium;
}

.subtitle {
    padding-top: 100px;
}

.home-span {
    border: 1px solid tomato;
    width: calc(82vw - 30px);
    height: calc(25vh - 30px);
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 12px;
    padding: 20px;
    color: white;
    font-size: medium;

    animation-duration: 2s;
    animation-name: animation-span;
    animation-iteration-count:initial;
    animation-direction:normal;
}
@keyframes animation-span {
    0%{
        transform: translateY(500px);
    }
    100%{
        transform: translateY(0);
    }
}

@media (max-width:768px){
    .home {
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;
        place-content: start;
        justify-content: center;
        align-items: center;
    }

    #title {
        width: 200px;
        height: 70px;
        top: 50vh;
        left: 0%;
        padding-left: 10px;
        font-size: 20px;
        width: 100vw;
    }

    #title-reciclaje,
    #title-reciclaje2 {
        width: 200px;
        height: 70px;
        top: 50vh;
        left: 0%;
        padding-left: 10px;
        font-size: 20px;
        width: 100vw;
    }

    #title-reciclaje3 {
        position: fixed;
        width: 200px;
        height: 70px;
        top: 50vh;
        left:100px;
        background: transparent;
    }

    .subtitle {
        animation-duration: 3s;
        animation-name: animation-sub;
        animation-iteration-count:initial;
    }
    @keyframes animation-sub {
        from{
            transform:translateX(500px);
        }
    }

    .home-figure--title{
        color: white;
        padding: 10px;
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .home-span {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100vw;
        height: 90%;
        margin: 0 auto;
        padding: 5px;
        text-align: center;
        font-size: small;
        color: white;
        border: none;
        z-index: 3;
    }

    .home-figure {
        background: radial-gradient(rgb(11, 16, 43),rgb(15, 93, 211));
        margin: 0 auto;
        width: 90%;
        height: 100%;
        display: none;
    } 

    .molinos {
        position: absolute;
        display: grid;
        top: 13vh;
        right: 0vw;
        width: 90vw;
        height: 30vh;
        z-index: 3;
      
        animation-duration: 4s;
        animation-name: animation-molinos;
        animation-iteration-count:initial;
    }
    @keyframes animation-molinos {
        0%{ opacity: 0; }
        100%{ opacity: 1; }
    }

    .planeta {
        position: fixed;
        display: grid;
        bottom: -50px;
        right: -50px;
        width: 70vw;
        height: 70vw;
        z-index: 2;
        animation-duration: 20s;
    animation-name: animation-planet;
    animation-iteration-count:infinite;
}
@keyframes animation-planet {
    from{
        transform: rotate(360deg);
    }
}
}